<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlineexam.mapper.DanmuMapper">
  <resultMap id="BaseResultMap" type="com.example.onlineexam.domain.Danmu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="fontsize" jdbcType="TINYINT" property="fontsize" />
    <result column="mode" jdbcType="TINYINT" property="mode" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="time_point" jdbcType="DOUBLE" property="timePoint" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, vid, `uid`, content, fontsize, `mode`, color, time_point, `state`, create_date
  </sql>
  <select id="selectByExample" parameterType="com.example.onlineexam.domain.DanmuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from danmu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from danmu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from danmu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.onlineexam.domain.DanmuExample">
    delete from danmu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.onlineexam.domain.Danmu">
    insert into danmu (id, vid, `uid`, 
      content, fontsize, `mode`, 
      color, time_point, `state`, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{fontsize,jdbcType=TINYINT}, #{mode,jdbcType=TINYINT}, 
      #{color,jdbcType=VARCHAR}, #{timePoint,jdbcType=DOUBLE}, #{state,jdbcType=TINYINT}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.onlineexam.domain.Danmu">
    insert into danmu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vid != null">
        vid,
      </if>
      <if test="uid != null">
        `uid`,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="fontsize != null">
        fontsize,
      </if>
      <if test="mode != null">
        `mode`,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="timePoint != null">
        time_point,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="fontsize != null">
        #{fontsize,jdbcType=TINYINT},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=TINYINT},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="timePoint != null">
        #{timePoint,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.onlineexam.domain.DanmuExample" resultType="java.lang.Long">
    select count(*) from danmu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update danmu
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=INTEGER},
      </if>
      <if test="row.vid != null">
        vid = #{row.vid,jdbcType=INTEGER},
      </if>
      <if test="row.uid != null">
        `uid` = #{row.uid,jdbcType=INTEGER},
      </if>
      <if test="row.content != null">
        content = #{row.content,jdbcType=VARCHAR},
      </if>
      <if test="row.fontsize != null">
        fontsize = #{row.fontsize,jdbcType=TINYINT},
      </if>
      <if test="row.mode != null">
        `mode` = #{row.mode,jdbcType=TINYINT},
      </if>
      <if test="row.color != null">
        color = #{row.color,jdbcType=VARCHAR},
      </if>
      <if test="row.timePoint != null">
        time_point = #{row.timePoint,jdbcType=DOUBLE},
      </if>
      <if test="row.state != null">
        `state` = #{row.state,jdbcType=TINYINT},
      </if>
      <if test="row.createDate != null">
        create_date = #{row.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update danmu
    set id = #{row.id,jdbcType=INTEGER},
      vid = #{row.vid,jdbcType=INTEGER},
      `uid` = #{row.uid,jdbcType=INTEGER},
      content = #{row.content,jdbcType=VARCHAR},
      fontsize = #{row.fontsize,jdbcType=TINYINT},
      `mode` = #{row.mode,jdbcType=TINYINT},
      color = #{row.color,jdbcType=VARCHAR},
      time_point = #{row.timePoint,jdbcType=DOUBLE},
      `state` = #{row.state,jdbcType=TINYINT},
      create_date = #{row.createDate,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.onlineexam.domain.Danmu">
    update danmu
    <set>
      <if test="vid != null">
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="fontsize != null">
        fontsize = #{fontsize,jdbcType=TINYINT},
      </if>
      <if test="mode != null">
        `mode` = #{mode,jdbcType=TINYINT},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="timePoint != null">
        time_point = #{timePoint,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.onlineexam.domain.Danmu">
    update danmu
    set vid = #{vid,jdbcType=INTEGER},
      `uid` = #{uid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      fontsize = #{fontsize,jdbcType=TINYINT},
      `mode` = #{mode,jdbcType=TINYINT},
      color = #{color,jdbcType=VARCHAR},
      time_point = #{timePoint,jdbcType=DOUBLE},
      `state` = #{state,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>